<body>
<form>
    <p><b>interpolution</b></p>
    <h1>{{ Title }}</h1>
    <P><b>Property Binding</b></P>
      <img [src]="imageUrl"/>
      <button
      [disabled]="btnStatus">click</button>
    <style>
      *{
        text-align: center;
      }
      #E-mail,
      #password {
        margin: 5px;
        padding: 2px;
        text-align: center;
      }
    </style>
    <p><b>Two-way-DataBinding & EventBinding</b></p>
    <div class="input">
      <label>E-mail</label>
      <input type="Email" style="margin-left: 10px;" name="E-mail" [(ngModel)]="Email">
    </div>
    <br>
    <div class="input">
    <label>password</label>
      <input type="password" style="margin-left: 10px;" name="password" [(ngModel)]="password">
    </div>
    <br>
  </form>
      <button type="submit" style="margin-left: 80px;" (click)="LoginUser()">Login</button>
      <hr>

   </body>


